.sbg-process-circle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: #3D6AA2;
    color: #fff;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    padding: 10px;
    border: 1px solid #3D6AA2;

    &:after {
        width: 0;
        height: 0;
        border-top: 30px inset transparent;
        border-bottom: 30px inset transparent;
        border-left: 30px solid #EBEBEB;
        position: absolute;
        content: "";
        top: 0;
        right: -30px;
        z-index: 2;
    }
}

.sbg-container {
    .sbg-header-container {
        height: 40px;
        background: #f6f6f6;
        font-weight: 600;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        border-radius: 3px;
        border-top: 4px solid #e6e6e6
    }
}

.stock-inventory {
    .summary-container {
        .summary-title {
            border: 1px solid;
            border-radius: 5px;
            text-align: center;
            padding: 5px;
            box-shadow: 1px 2px #888888;
            font-weight: 700;
        }
    }

    .new-orders-container {
        border-left: .5em solid #ee4526;
    }

    .pending-orders-container {
        border-left: .5em solid #f9c710;
    }

    .completed-orders-container {
        border-left: .5em solid #8bcc4c;
    }

    .summary-analytic {
        font-size: 16px;
        font-weight: 600;
    }

    .summary-analytic-count {
        font-size: 20px;
        font-weight: 700;
    }

    .summary-table-container {
        border-left: .5em solid #3e47a7;

        .summary-table-title {
            text-align: center;
            font-size: 16px;
            font-weight: 700;
        }
    }
}

.f-size-2em {
    font-size: 1em !important;
}

.sbg-select-item {
    line-height: 20px;
    margin: 10px 0px;

    .item-title {
        font-weight: 700;
        font-size: 16px;
    }

    .item-description {

    }
}
