@import url('../fonts/code-128/stylesheet.css');

.text-center {
    text-align: center;
}

.code-font {
    font-family: 'libre_barcode_128regular', cursive;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.f-size-14 {
    font-size: 14px;
}

.f-size-16 {
    font-size: 16px;
}

.f-size-70 {
    font-size: 70px;
}

.text-uppercase {
    text-transform: uppercase;
}

.letter-spacing-8 {
    letter-spacing: 8px;
}
